@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

/* MENU */
.contenedor-header {
    background: #bca5d4;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #a76ce6;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #000000;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #a76ce6;
}

.nav-responsive {
    background-color: #a76ce6;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION I N I C I O */
.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #000000;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #bca5d4;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 10px solid #a76ce6;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a {
    color: #000000;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover {
    background-color: #a76ce6;
}

.sobremi {
    background-color: #bca5d4;
    color: #000000;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: #a76ce6;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #a76ce6;
    width: 130px;
}

.sobremi .fila .col ul li span {
    background-color: #a76ce6;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes {
    width: 120px; /* Aumentado de 100px a 120px */
    height: 120px; /* Aumentado de 100px a 120px */
    background-color: #efe2fa;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    text-align: center; /* Centra el texto horizontalmente */
}

.sobremi .fila .col .contenedor-intereses .interes:hover {
    background-color: #a76ce6;
}

.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #000000;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #000000;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #a76ce6;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/* SECCION S K I L L S */
.skills {
    background-color: #efe2fa;
    color: #000000;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill>span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: #a76ce6;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #a76ce6;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Estas clases se agregar치n din치micamente mediante JavaScript */
.prototipado-wireframing {
    width: 85%;
    animation: ancho-prototipado-wireframing 2s forwards;
}

.html-css-javascript {
    width: 80%;
    animation: ancho-html-css-javascript 2s forwards;
}

.diseno-visual-ui {
    width: 85%;
    animation: ancho-diseno-visual-ui 2s forwards;
}

.sistemas-de-diseno {
    width: 80%;
    animation: ancho-sistemas-de-diseno 2s forwards;
}

.versionado-colaboracion {
    width: 80%;
    animation: ancho-versionado-colaboracion 2s forwards;
}

.comunicacion-efectiva {
    width: 85%;
    animation: ancho-comunicacion-efectiva 2s forwards;
}

.colaboracion-equipo {
    width: 80%;
    animation: ancho-colaboracion-equipo 2s forwards;
}

.gestion-tiempo {
    width: 80%;
    animation: ancho-gestion-tiempo 2s forwards;
}

.diseno-centrado-usuario {
    width: 85%;
    animation: ancho-diseno-centrado-usuario 2s forwards;
}

.adaptabilidad {
    width: 94%;
    animation: ancho-adaptabilidad 2s forwards;
}

@keyframes ancho-prototipado-wireframing {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

@keyframes ancho-html-css-javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes ancho-diseno-visual-ui {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

@keyframes ancho-sistemas-de-diseno {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes ancho-versionado-colaboracion {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes ancho-comunicacion-efectiva {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

@keyframes ancho-colaboracion-equipo {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes ancho-gestion-tiempo {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes ancho-diseno-centrado-usuario {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}

@keyframes ancho-adaptabilidad {
    0% {
        width: 0%;
    }
    100% {
        width: 94%;
    }
}



/* SECCION CURRICULUM */
.curriculum {
    background-color: #bca5d4;
    color: #000000;
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda {
    border-right: 2px solid #efe2fa;
}

.curriculum .fila .derecha {
    border-left: 2px solid #efe2fa;
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #efe2fa;
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    color: #a76ce6;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #a76ce6;
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
}

.curriculum .fila .izq {
    border-right: 2px solid #a76ce6;
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid #a76ce6;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: #a76ce6;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #a76ce6;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: #a76ce6;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #a76ce6;
    float: left;
    position: relative;
    bottom: 4px;
}

/* SECCION PORTFOLIO */
.portfolio {
    background-color: #efe2fa;
    color: #000000;
    padding: 50px 20px;
}

.portfolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galeria .proyecto img {
    width: 100%;
    display: block;
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(188, 165, 212, 0.8), rgba(188, 165, 212, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.portfolio .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

/* SECCION CONTACTO */
.contacto {
    background-image: url(img/contact_bg.png);
    background-color: #bca5d4;
    color: #000000;
    padding: 50px 0;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col ul {
    list-style: none;
    padding: 0; /* Elimina el padding de la lista */
    text-align: center; /* Centra el texto de los enlaces */
}

.contacto .col ul li {
    margin-bottom: 20px;
    font-size: 20px; /* Tama침o de fuente para los enlaces */
}

.contacto .col ul li i {
    color: #a76ce6;
    display: inline-block;
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

.contacto .col ul li a {
    text-decoration: none; /* Elimina subrayado de los enlaces */
    color: #000000; /* Color del enlace */
    font-weight: bold; /* Negrita para destacar los enlaces */
}

.contacto .col ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el rat칩n */
}


footer {
    background-color: #efe2fa;
    color: #000000;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #000000;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #a76ce6;
    color: #000000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #efe2fa;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #000000;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px) {
    .sobremi .fila {
        display: block;
    }

    .sobremi .fila .col {
        width: fit-content;
    }

    .skills .fila {
        display: block;
    }

    .skills .fila .col {
        width: 100%;
    }

    .skills .fila .col .barra-skill {
        width: 100%;
    }

    .curriculum .fila {
        display: block;
    }

    .curriculum .fila .col {
        width: 90%;
    }

    .curriculum .fila .derecha {
        margin-left: 20px;
    }

    .portfolio .galeria {
        display: block;
        width: 100%;
    }

    .portfolio .galeria .proyecto {
        max-width: 100%;
    }

    .portfolio .galeria .proyecto img {
        width: 100%;
    }

    .contacto .fila {
        display: block;
    }

    .contacto .fila .col {
        width: 100%;
    }
}